.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.table th {
  font-weight: bold;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

