<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado Colaboradores</h4>
        <div class="text-right" *ngIf="rol == 'Admin' || rol == 'User'">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Agregar
          </button>
        </div>
      </div>

      <!-- Agregar Cliente Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group has-icon">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    <input type="text" class="form-control" id="cedula" [(ngModel)]="cliente.cedula" name="cedula" placeholder="Cedula" pattern="[0-9]*" maxlength="10" required (input)="validateCedula($event)">
                  </div>
                </div>
                <div class="form-group has-icon">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="nombres" [(ngModel)]="cliente.nombres" name="nombres" placeholder="Nombres" required (keypress)="preventNumbers($event)">
                  </div>
                </div>
                <div class="form-group has-icon">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="apellidos" [(ngModel)]="cliente.apellidos" name="apellidos" placeholder="Apellidos" required (keypress)="preventNumbers($event)">
                  </div>
                </div>
                <div class="form-group has-icon">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" id="email" [(ngModel)]="cliente.email" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group has-icon">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" id="password" [(ngModel)]="cliente.pass" name="password" placeholder="Contraseña" [type]="showPassword ? 'text' : 'password'">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-link" (click)="togglePasswordVisibility()">
                        <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="GuardarCliente()">Guardar</button>
              <br>
              <div *ngIf="loading" class="loading-animation">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar cliente.." [(ngModel)]="searchTerm"
              (ngModelChange)="buscarClientes()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
          </div>
        </div>
      </div>


      <div class="card-body">
        <div class="table-responsive table-striped">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Cédula</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">Email</th>
                <th *ngIf="rol == 'Admin'" class="text-center">Contraseña</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of filteredClientes">
                <td class="text-center">{{ cliente.ID }}</td>
                <td class="text-center">{{ cliente.CedRuc }}</td>
                <td class="text-center">{{ cliente.Nombres }} {{ cliente.Apellidos }}</td>
                <td class="text-center">{{ cliente.Correo }}</td>
                <td *ngIf="rol == 'Admin'" class="text-center">
                  {{ cliente.Contra.substring(0, 10) }} ...
                </td>
                <td class="text-center">
                  <span *ngIf="cliente.Estado == 1" class="badge bg-info">Activo</span>
                  <span *ngIf="cliente.Estado != 1" class="badge bg-danger">Inactivo</span>
                </td>
                <td>
                  <button (click)="EditarCliente(cliente)" type="button" class="btn btn-info btn-sm" data-toggle="modal"
                    data-target="#exampleModalEditar">
                    <i class="nc-icon nc-tag-content"></i>
                  </button>

                  <button (click)="EliminarCliente(cliente)" class="btn btn-danger btn-sm">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalEditar"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group position-relative has-icon-left">
                <input name="txtCed" placeholder="Cédula" [(ngModel)]="cliente.cedula" placeholder="1800000111"
                  onkeypress="return event.charCode >= 48" min="1" class="form-control" id="txtCed"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  type="text" maxlength="10" />
              </div>

              <div class="form-group position-relative has-icon-left">
                <input id="txtNom" type="text" [(ngModel)]="cliente.nombres" placeholder="Nombres" placeholder="Nombres"
                  class="form-control" />
              </div>
              <div class="form-group position-relative has-icon-left">
                <input id="txtApe" type="text" placeholder="Apellidos" [(ngModel)]="cliente.apellidos"
                  placeholder="Apellidos" class="form-control" />
              </div>
              <div class="form-group position-relative has-icon-left">
                <input id="txtCorreo" type="text" placeholder="Correo" [(ngModel)]="cliente.email"
                  placeholder="usuario@gmail.com" class="form-control" />
              </div>
              <div class="form-group position-relative has-icon-left">
                <input id="txtPassword" type="password" placeholder="Password" [(ngModel)]="cliente.pass"
                  placeholder="Usuario1" class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" #closeEditar class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="button" (click)="Editar()" class="btn btn-primary">
                Editar Cliente
              </button>
            </div>
            <div *ngIf="loading" class="loading-animation">
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>