.input-group-text {
    background-color: #fff;
    border-right: 0;
  }
  
  .form-control {
    border-left: 0;
  }
  
  .input-group .btn-link {
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
  }
  