<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado Productos de Categoria 2</h4>
        <div class="text-right" *ngIf="rol == 'Admin' || rol == 'User'">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModalProducto"
          >
            Agregar
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" (keyup)="buscarProductos($event.target.value)">
        </div>
        <div class="table-responsive">
          <table id="producto-table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Codigo</th>
                <th>Peso</th>
                <th>Estado</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí se cargarán las filas de la tabla dinámicamente -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
